@page "/"

<PageTitle>Transport logistics system</PageTitle>

<h1>Панель управления</h1>

<br />

<div class="d-flex flex-row gap=2">

    <div class="d-inline-flex pa-4">
<MudCard Style="width: 150px">
    <MudCardMedia Image="@Icons.Material.Filled.PostAdd" Height="50" />
    <MudCardContent>
        <MudText>Запросы</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Перейти</MudButton>
    </MudCardActions>
</MudCard>
</div>

<div class="d-inline-flex pa-4">
<MudCard Style="width: 150px">
    <MudCardMedia Image="@Icons.Material.Filled.PostAdd" Height="50" />
    <MudCardContent>
        <MudText>Заказы</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Перейти</MudButton>
    </MudCardActions>
</MudCard>
</div>

<div class="d-inline-flex pa-4">
<MudCard Style="width: 150px">
    <MudCardMedia Image="@Icons.Material.Filled.PostAdd" Height="50" />
    <MudCardContent>
        <MudText>Сотрудники</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Перейти</MudButton>
    </MudCardActions>
</MudCard>
</div>

<div class="d-inline-flex pa-4">
<MudCard Style="width: 150px">
    <MudCardMedia Image="@Icons.Material.Filled.PostAdd" Height="50" />
    <MudCardContent>
        <MudText>Клиенты</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Перейти</MudButton>
    </MudCardActions>
</MudCard>
</div>

<div class="d-inline-flex pa-4">
<MudCard Style="width: 150px">
    <MudCardMedia Image="@Icons.Material.Filled.PostAdd" Height="50" />
    <MudCardContent>
        <MudText>Настройки</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Перейти</MudButton>
    </MudCardActions>
</MudCard>
</div>
</div>